<div class="container">
<div class="row">
  <% @events.each do |event|  %>
  <div class="span4">
       <%= image_tag('course-test.jpg') %> <br>
    <%= event.activity_object.title%>
  </div>
  <% end  %>
</div>
</div>